body {
  background-color: BlanchedAlmond;
}
h1, h3 {
  color: CadetBlue;
  font-family: 'Lora', serif;
}
p {
  color: CadetBlue;
  font-family: 'Montserrat', sans-serif;
}
a:link {
  color: LightSeaGreen;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:visited {
  color: MediumSeaGreen;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover {
  color: MediumTurquoise;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-decoration: none;
}
