* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: BlanchedAlmond;
}
header {
  width:75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
}
h1, h3 {
  color: CadetBlue;
  font-family: 'Lora', serif;
}
p {
  color: CadetBlue;
  font-family: 'Montserrat', sans-serif;
}
a:link {
  color: LightSeaGreen;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:visited {
  color: MediumSeaGreen;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover {
  color: MediumTurquoise;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
}
