body {
  background-color: #000000;
}
@media screen and (min-width: 480px) {
  body {
    background-color: #44444;
  }
}
@media screen and (min-width: 720px) {
  body {
    background-color: #222222;
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-color: #333333;
  }
}
@media screen and (min-width: 1920px) {
  body {
    background-color: #44444;
  }
}
}
